root {
  --color-primary0: #FF5D1C;
  --color-primary1: #BF3100;
  --color-primary2: #EC9F05;
  --color-primary3: #F5BB00;
  --color-primary4: #8EA604;

  --color-secondary0: #FFF2C7;
  --color-secondary1: #812100;
  --color-secondary2: #C4EAF5;

  --color-error: #F44930;
  --color-input: #00CFFD;
  --color-success: #8DCC52;
  --color-neutral0: #000000;
  --color-neutral1: #FFFFFF;
  --color-neutral2: #E0E0E0;
  --color-neutral3: #AAAAAA;
}
