root {
  --color-primary0: #FF5D1C;
  --color-primary1: #BF3100;
  --color-primary2: #EC9F05;
  --color-primary3: #F5BB00;
  --color-primary4: #8EA604;

  --color-secondary0: #FFF2C7;
  --color-secondary1: #812100;
  --color-secondary2: #C4EAF5;

  --color-error: #F44930;
  --color-input: #00CFFD;
  --color-success: #8DCC52;
  --color-neutral0: #000000;
  --color-neutral1: #FFFFFF;
  --color-neutral2: #E0E0E0;
  --color-neutral3: #AAAAAA;

  --font-base: 1rem;
  --font-pequeño: 0.75rem;
  --font-secundario: 0.85rem;
  --font-h3: 1.25rem;
  --font-h2: 1.5rem;
  --font-h1: 2rem;

  --space-base: 1rem;
  --space-pequeño: 0.25rem;
  --space-secundario: 0.5rem;
  --space-h3: 2rem;
  --space-h2: 3rem;
  --space-h1: 4rem;

  --bp-desktop: 64rem;
  --bp-movile: 40rem;
  --bp-tablet: 48rem;
  --bp-bigdesktop: 80rem;

  --elevation-sombrasm: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --elevation-sombramd: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  --elevation-sombralg: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  --elevation-sombraxl: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);

  --border-width-thin: 1px;
  --border-width-normal: 2px;
  --border-width-thick: 4px;

  --radius-md: 2px;
  --radius-lg: 4px;
  --radius-full: 9999px;

  --transition-fast: 0.15s ease-in-out;
  --transition-normal: 0.25s ease-in-out;
  --transition-slow: 0.4s ease-in-out;
}
