h1 {
  font-size: var(--font-xxl);
  margin-bottom: var(--space-md);
}

p {
  font-size: var(--font-base);
  line-height: 1.5;
}

a {
  text-decoration: none;
}

article{
  background-color: var(--color-primary3);
}

h2{
  font-size: var(--font-xxl);
  margin-bottom: var(--space-md);
}

h3{}

header{
  background-color: var(--color-primary0);
}
