h1 {
  font-size: var(--font-xxl);
  margin-bottom: var(--space-md);
}

p {
  font-size: var(--font-base);
  line-height: 1.5;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}
article{}
h2{}
h3{}
